<div class="mt-4">
    <div class="row fix-row">
        <div class="col-2"></div>
        <div class="col-8">
            <div>
                <h3> Khóa học đã xóa</h3>
                <a href="/me/stored/courses"> Khóa học của tôi</a>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên khóa học</th>
                        <th scope="col">Trình độ</th>
                        <th scope="col">Thời gian tạo</th>
                        <th scope="col" colspan="2">Tùy Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.level}}</td>
                        <td>{{this.createdAt}}</td>
                        <td> <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a> </td>
                        <!-- Hoặc có thể dùng thẻ form -->
                        <td> <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                                data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                        </td>
                    </tr>

                    {{else}}
                    <tr class="text-center">
                        <td colspan="5">Thùng rác trống. <span><a href="/me/stored/courses">Xem danh sách khóa
                                    học</a></span></td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<!-- Modal Delete -->

<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa Khóa học ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục được. <br /> Bạn chắc chắn muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<!-- form delete course -->
<form name="delete-course-form" method="POST" action=""></form>
<form name="restore-course-form" method="POST" action=""></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let courseID;
        let deleteForm = document.forms['delete-course-form'];
        let btnDeleteCourse = document.getElementById('btn-delete-course');
        let btnRestore = $('.btn-restore');
        let restoreForm = document.forms['restore-course-form'];

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseID = button.data('id')

        })


        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseID + "/force" + '?_method=DELETE';
            deleteForm.submit();
        }

        //jquery
        btnRestore.click(function (e) {

            e.preventDefault();
            let id = $(this).data('id');
            restoreForm.action = "/courses/" + id + "/restore?_method=PATCH"
            restoreForm.submit();

        })
    })
</script>